.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.todo {
  color: #eee;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 10px;
}

.todo:hover {
  cursor: pointer;
}

.todo-completed {
  text-decoration: line-through;
}
